@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body, html {
    text-align:center;
    
        font-family: 'Indie Flower', cursive;
}
#bannerText{
	color:#ffffff;
}

#content_body{
	color:#ffffff;
}

#content{

}

.SlideShowCaption{
    text-align: center;
}