@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
body, html,h1 {
    text-align:center;
    font-family: 'Sigmar One', cursive;
}
#bannerText{
	color:#111111;
}

#content_body{
	color:#111111;
}

#content{
}

.SlideShowCaption{
    text-align: center;
}