body {
	background-color:rgb(170, 57, 57);
}

#navbar a
{
	display: inline;
	padding: 10px 10px 10px 10px;
	color: #fff;
	text-decoration: none;
}
#navbar a
{
    
}


#navbar a:focus
{
    color: black;
    background-color: white;
}

#navbar a:hover { 
    text-shadow: 0.1em 0.1em 0.2em black;
background-color:rgb(255, 170, 170);
    color: black;
}

#content{
    background-color:#550000;
}


#banner{
    background-color:#801515;
}

#content_body{
    background-color:#D46A6A
}

#bannerText{
        background-color:#801515;
}