@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans');
#navbar {
            font-family: 'Alegreya Sans', sans-serif;
            font-size:22pt;
}

#content_body{
        color: #ffffff;
}