body, html {
    text-align:center;
}
#bannerText{
	font-size:24pt;
	color:#ffffff;
}

#content_body{
	font-size:16pt;
	color:#ffffff;
}

#content{
    font-family: 'Indie Flower', cursive;
}

.SlideShowCaption{
    font-size:24pt;
    text-align: center;
}