#navbar 
{
    left:0;
    margin: 0;
    list-style: none;
    display: inline;
    margin: 0;
    position:absolute;
    top:200px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#content_body {
    margin-left:15.2em;
    margin-right:10.2em;
    position:absolute;
    top:100px;
    text-align:center;
    
    
}

#content_body img{
    border-radius: 25px;
}

#bannerImgID
{
    width:100%;
    height:80px;
	position:absolute;
}

#bannerText{
    margin-left:.2em;
    margin-top:3.2em;
    
position:absolute;
}

body{
                  position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
}