/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla
 */

// FIRST, ALL OUR TEXTUAL COMPONENTS WILL USE THE SAME FONT FAMILY
.lang_prompt, .lang_combo_box, .lang_ok_button,
.title_prompt, .title_text_field,
.caption_prompt, .caption_text_field {
    -fx-font-family:sans-serif;    
}

// LANGUAGE SELECTION CONTROLS
.lang_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.lang_combo_box {
    -fx-font-size: 14pt;
    -fx-background-color: #A69800;
}

.lang_ok_button {
    -fx-font-size: 14pt;
    -fx-background-color: #A69800;
    -fx-border-radius: 4 4 4 4;
    -fx-spacing: 10px;
}

.lang_dialog_pane {
    -fx-background-color: #1D7373;
    -fx-hgap:25;
    -fx-vgap:15;
    -fx-padding: 30;
}

// TOOLBAR CONTROLS
.horizontal_toolbar_pane, .vertical_toolbar_pane {
    -fx-background-color: #5CCCCC;    
    -fx-padding:5;
}

.horizontal_toolbar_pane {
    -fx-alignment: center;
    -fx-hgap:2;
        -fx-border-color: transparent transparent black transparent;
}
.horizontal_toolbar_pane_top {
     -fx-background-color: #33CCCC;
    -fx-hgap:2;
    -fx-vgap:5;
}

.vertical_toolbar_pane {
    -fx-background-color: #5CCCCC;
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-vgap:20;
    -fx-border-color: transparent black transparent transparent;
}

.vertical_toolbar_button {
    -fx-background-color: #3EEEEE;
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-width: 3;
    -fx-border-style: solid;
    
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.vertical_toolbar_button:hover {
   -fx-background-color: linear-gradient(#f2f2f2, #f2f2f2);
   -fx-background-insets: 0 0 -1 0, 0, 1, 2;
   -fx-background-radius: 3px, 3px, 2px, 1px;
}
.horizontal_toolbar_button:hover {
   -fx-background-color: linear-gradient(#f2f2f2, #f2f2f2);
   -fx-background-insets: 0 0 -1 0, 0, 1, 2;
   -fx-background-radius: 3px, 3px, 2px, 1px;
}

.horizontal_toolbar_button {
    -fx-background-color: #3EEEEE;
    -fx-border-color: black;
    -fx-border-insets: 0;
    -fx-border-width: 3;
    -fx-border-style: solid;
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

// WORKSPACE AND IT'S CONTAINERS
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #33CCCC;
    
}
.tab-pane *.tab-header-background {

}
.workspace {
    -fx-background-color: #66CFCF;
}

.slides_editor_pane {
    -fx-background-color: #33CCCC;
    -fx-padding: 30;    
    -fx-hgap:35;
    -fx-vgap:40;
}

.slide_edit_view, .selected_slide_edit_view {
    -fx-border-width: 5;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}

.slide_edit_view {
    -fx-background-color: #006363;
    -fx-border-color: black;
}

.selected_slide_edit_view {
    -fx-background-color: #1daaaa;
    -fx-border-color: #3EEEEE;
}
//COMPONENT CONTROLS
.component_outline{
    -fx-border-width: 2;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
-fx-border-style: dashed;
}
.HEADER_FONT{
    -fx-font-size: 22pt;
    -fx-font-weight: bold;
}

// SLIDE EDIT CONTROLS
.title_pane {   
    -fx-hgap:10;
    -fx-vgap:10;
    -fx-padding: 0 0 20 0;
}

.title_prompt {
    -fx-font: 18pt bold;
}

.title_text_field {
    -fx-font: 16pt normal;
    -fx-background-color: #006363;
    -fx-min-width:300px;
}

.caption_prompt {
    -fx-font-size: 16pt;
    -fx-padding: 5 5 5 20;
}

.caption_text_field {
    -fx-font-size: 14pt;
    -fx-background-color: #1D7373; 
    -fx-min-width:600px;
    -fx-padding: 5 5 5 20;
}



.dialog-pane {
    -fx-background-color: #006363;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #00BBBB;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}