@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body, html {
    text-align:center;
    
        font-family: 'Indie Flower', cursive;
}
#bannerText{
	font-size:24pt;
	color:#ffffff;
}

#content_body{
	font-size:16pt;
	color:#ffffff;
}

#content{

}

.SlideShowCaption{
    font-size:24pt;
    text-align: center;
}