html {
background-color:rgb(1,1,1);
}
#content_body{
    background-color:rgb(100,100,100);
    border-radius: 25px;
}

#navbar
{
                  background-color:rgb(50,50,50);
}
#navbar a
{
	color: #fff;
}

#navbar a:focus
{
    color: black;
    background-color: white;
}

#navbar a:hover { 
    text-shadow: 0.1em 0.1em 0.2em black;
    background-color: white;
    color: black;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#footer {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#content_body{
        color: #ffffff;
}
#bannerText{
    text-shadow: 0.1em 0.1em 0.2em white;
    color: white;
                font-size:17pt;
}