body, html {
    vertical-align:middle;
    height:100%;
    width:100%;
}

#navbar {
	position:absolute;
	bottom:0;
	left:40px;
}

#banner{
	position:absolute	;
	top:0px;
	left:1%;
	right:1%;
}
#bannerText{
	position:absolute	;
        	width:50%;
                height:64px;
                padding-top: 35px;
        text-align:center;
}

#bannerImgID {
	position:absolute;
	height:99px;
	width:50%;
                  right:0%;
                  
	padding-bottom:0px;
	margin-top:32px;
	margin-bottom:0px;
}

#content_body{
	position:absolute	;
	top:135px;
	left:1%;
	right:1%;
}
#content{
    	position:absolute;
width:75%;
	text-align:left;
}

.SlideShow{
        height:10%;
    max-height:10%;
    min-height:10%;
}

.SlideShowImage{
        max-height: 400px;
        margin-top:20px;
        display: block;
        margin-left: auto;
        margin-right: auto
}


.SlideShowButtonPrev{
        margin-left: 44%;
        display: inline;
        margin-bottom:80px;
}

.SlideShowCaption{
        margin-left: 45%;
        display: inline;
}


.image_class{
        max-width: 1000px;
        padding-bottom:100px;
                display: block;
        margin-left: auto;
        margin-right: auto
}

.video_class{
        max-width: 1000px;
        padding-bottom:100px;
                display: block;
        margin-left: auto;
        margin-right: auto
}